html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.link_button {
  text-decoration: none;
  color: black;
  background-color: rgb(64, 180, 141);
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

#navigate_table_btns {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  height: fit-content;
  width: fit-content;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 25px;
  grid-gap: 15px;
}

@media screen and (max-width: 380px) {
  #navigate_table_btns {
    grid-template-columns: auto;
  }
}
