html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.link_button {
  text-decoration: none;
  color: black;
  background-color: rgb(64, 180, 141);
  border: none;
  border-radius: 10px;
  padding: 10px;
}
